@using Accounting.Domain.Models
@using Accounting.ViewModels
@using Accouting.Domain.Managers.Interfaces
@model ReportViewModel
<table class="table table-striped">
    <thead>
        <tr >
            <th class="text-center">
                Зведенна вiдомicть за перiод 
            </th>
        </tr>
        <tr>
            <th class="text-center">
                За перiод з @Model.From.Date.ToShortDateString() по @Model.To.ToShortDateString()
            </th>
        </tr>
        <tr>
            <th>
                Таб №
            </th>
            <th>
                Працівник
            </th>
            <th>
                Оплата
            </th>
            <th>
                Премія
            </th>
            <th>
                Відп/больн
            </th>
            <th>
                Всього
            </th>
            <th>
                Податки
            </th>
            <th>
                Карточка
            </th>
            <th>
                Усього
            </th>
            <th>
                На руки
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Groups)
        {
            var salaries = Model.Salaries.Where(x => x.Employee.Group.Id == item.Id);
            <tr class="text-center">
                <td>
                    @item.Name
                </td>
            </tr>
            @foreach (var salary in salaries)
            {
                <tr>
                    <td>
                        @salary.Employee.InnerId
                    </td>
                    <td>
                        @salary.Employee.Name
                    </td>
                    <td>
                        @Math.Round(salary.Payment, 2, MidpointRounding.AwayFromZero)
                    </td>
                    <td>
                        @Math.Round(salary.Premium, 2, MidpointRounding.AwayFromZero)
                    </td>
                    <td>
                        @Math.Round(salary.AdditionalPayout, 2, MidpointRounding.AwayFromZero)
                    </td>
                    <td>
                        @Math.Round(salary.TotalAmmount, 2, MidpointRounding.AwayFromZero)
                    </td>
                    <td>
                        @Math.Round(salary.Deducation, 2, MidpointRounding.AwayFromZero)
                    </td>
                    <td>
                        @Math.Round(salary.AdditionalDeducation, 2, MidpointRounding.AwayFromZero)
                    </td>
                    <td>
                        @Math.Round(salary.TotalDeducation, 2, MidpointRounding.AwayFromZero)
                    </td>
                    <td>
                        @Math.Round(salary.Total, 2, MidpointRounding.AwayFromZero)
                    </td>
                </tr>
            }
        }
        <tr>
            <td>
                ------
            </td>
            <td>
                Разом
            </td>
            <td>
                @Math.Round(Model.SalaryTotal.SumOfPayments, 2, MidpointRounding.AwayFromZero)
            </td>
            <td>
                @Math.Round(Model.SalaryTotal.SumOfPremium, 2, MidpointRounding.AwayFromZero)
            </td>
            <td>
                @Math.Round(Model.SalaryTotal.SumOfAdditionalPayments, 2, MidpointRounding.AwayFromZero)
            </td>
            <td>
                @Math.Round(Model.SalaryTotal.TotalSumOfPayments, 2, MidpointRounding.AwayFromZero)
            </td>
            <td>
                @Math.Round(Model.SalaryTotal.SumOfDeducations, 2, MidpointRounding.AwayFromZero)
            </td>
            <td>
                @Math.Round(Model.SalaryTotal.SumOfAdditionalDeducations, 2, MidpointRounding.AwayFromZero)
            </td>
            <td>
                @Math.Round(Model.SalaryTotal.TotalSumOfDeducation, 2, MidpointRounding.AwayFromZero)
            </td>
            <td>
                @Math.Round(Model.SalaryTotal.SumOfTotal, 2, MidpointRounding.AwayFromZero)
            </td>
        </tr>
    </tbody>
</table>