@using Accounting.Domain.ViewModels;
@model CreateDeducationViewModel
@{
    var formId = Model.EmployeeId + "form";
    string getdeleteAccrualFormId(Guid id) => id.ToString() + "deleteForm";
    string getAccrualLiID(Guid id) => id.ToString() + "litodelete";
    string getUpdateAccrualFromId(Guid id) => id.ToString() + "updateAccrualForm";
    string getAmmountInputId(Guid id) => id.ToString() + "ammountInputId";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group" id="accrualUl">
                @foreach (var item in Model.Deducations)
                {
                    <li class="list-group-item" id="@getAccrualLiID(item.Id)">
                        <div class="d-flex justify-content-between">
                            <form id="@getUpdateAccrualFromId(item.Id)">
                                <input type="hidden" name="AccrualId" value="@item.Id" />
                                @if (item.IsAdditional)
                                {
                                    <label class="form-label">Карточка</label>
                                }
                                <input type="text" name="Ammount" value="@item.Ammount" onchange="onAmmountInputChanged('@getUpdateAccrualFromId(item.Id)')" class="form-control-sm" id="@getAmmountInputId(item.Id)" />
                            </form>

                            <form id="@getdeleteAccrualFormId(item.Id)">
                                <input type="hidden" name="accrualId" value="@item.Id" />
                                <button class="btn btn-outline-danger" type="button" onclick="sendForm('@getdeleteAccrualFormId(item.Id)', '/Document/DeleteAccrual', '@getAccrualLiID(item.Id)')">Видалити</button>
                            </form>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 m-auto">
            <form id="@formId">
                <input asp-for="EmployeeId" type="hidden" value="@Model.EmployeeId" />
                <label class="form-label">Карточка</label>
                <input asp-for="IsAdditional" type="checkbox" class="form-check" id="IsAdditional" value="true" />
                <label class="form-label">Сума</label>
                <input asp-for="Ammount" class="form-control" id="ammountInput" />
            </form>
            <button type="button" onclick="sendForm('@formId', '/Deducation/CreateDeducation', 'accrualUl' )" class="btn btn-primary">Начислити</button>
        </div>
    </div>
</div>
