@using Accounting.Domain.ViewModels
@model UpdatePayoutViewModel
@{
    var UpdatePayoutForm = Model.PayoutId + "updatePayout";
    var formToDeleteEmployee = Model.Employee.Id + "formToDelete" + Model.CountInSessionDocument;
    var trId = Model.Employee.Id + "tr" + Model.CountInSessionDocument;
}

<td>@Model.Employee.InnerId</td>
<td>@Model.Employee.Name</td>
<td>
    <form id="@UpdatePayoutForm" onchange="sendForm('@UpdatePayoutForm', '/Payout/Update')">
        <input type="hidden" name="PayoutId" value="@Model.PayoutId" />
        <input type="text" placeholder="Додати Суми" name="Ammount" value="@Model.Ammount" />
        @if (Model.Payout.IsAdditional)
        {
            <input type="checkbox" value="true" name="IsAdditional" checked />
        }
        @if (!Model.Payout.IsAdditional)
        {
            <input type="checkbox" value="true" name="IsAdditional" />
        }
    </form>
</td>
<td>
    <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <form id="@formToDeleteEmployee">
                        <input type="hidden" name="EmployeeId" value="@Model.Employee.Id" />
                        <input type="hidden" name="PayoutId" value="@Model.PayoutId" />
                        <button type="button" onclick="sendForm('@formToDeleteEmployee', '/Document/DeleteEmployee', '@trId')" class="btn btn-info mx-auto">Видалити з документа</button>
                    </form>
                </div>
            </div>
    </div>
</td>
