@using Accounting.Domain.ViewModels
@model UpdatePayoutViewModel
@{
    var updateAccrualFormId = Model.PayoutId + "updateAccrualForm";
    var formTdId = Model.PayoutId + "tdForm";
    var accrualLiId = Model.PayoutId + "litodelete";
    var deleteAccrualFormId = Model.PayoutId + "deleteForm";
    var ammountInputId = Model.PayoutId + "ammountInputId";
}
<li class="list-group-item" id="@accrualLiId">
    <div class="d-flex justify-content-between">
        <form id="@updateAccrualFormId">
            <input type="hidden" name="PayoutId" value="@Model.PayoutId" />
            @if(Model.IsAdditional)
            {
                <label class="form-label">Додатково</label>
            }
            <input type="text" name="Ammount" value="@Model.Ammount" onchange="onAmmountInputChanged('@updateAccrualFormId')" class="form-control-sm" id="@ammountInputId"/>
        </form>
        <form id="@deleteAccrualFormId">
            <input type="hidden" name="payoutId" value="@Model.PayoutId"/>
            <button class="btn btn-outline-danger" type="button" onclick="sendForm('@deleteAccrualFormId', '/Payout/Delete', '@accrualLiId')">Видалити</button>
        </form>
    </div>
</li>
