@using Accounting.Domain.ViewModels
@model UpdateAccrualViewModel
@{
    var updateAccrualFormId = Model.AccrualId + "updateAccrualForm";
    var formTdId = Model.AccrualId + "tdForm";
    var accrualLiId = Model.AccrualId + "litodelete";
    var deleteAccrualFormId = Model.AccrualId + "deleteForm";
    var ammountInputId = Model.AccrualId + "ammountInputId";
}
<li class="list-group-item" id="@accrualLiId">
    <div class="d-flex justify-content-between">
        <form id="@updateAccrualFormId">
            <input type="hidden" name="AccrualId" value="@Model.AccrualId" />
            <input type="number" name="Ammount" value="@Model.Ammount" onchange="onAmmountInputChanged('@updateAccrualFormId')" class="form-control-sm" id="@ammountInputId"/>
        </form>
        <form id="@deleteAccrualFormId">
            <input type="hidden" name="accrualId" value="@Model.AccrualId"/>
            <button class="btn btn-outline-danger" type="button" onclick="sendForm('@deleteAccrualFormId', '/Document/DeleteAccrual', '@accrualLiId')">Видалити</button>
        </form>
    </div>
</li>
