@using Accounting.DAL.Interfaces
@using Accounting.Domain.Models
@using Accounting.Domain.Models.Base
@using Accounting.ViewModels

@model IEnumerable<EmployeeBase>
@{
    
    string getLiId(Guid id) => id + "li";
    string getPayoutInputId(Guid employeeId) => employeeId + "payoutinput";
}

<div class="modal fade" id="addEmployeeToDocumentModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Додати працівника в документ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row my-2">
                        <div class="col-md-5 m-auto">
                            <h5>Пошук по працівникам</h5>
                            <form id="searchEmployeesAddToDocumentfrm">
                                <label class="form-label">Ім'я</label>
                                <input type="text" name="Name" class="form-control" />
                                <label class="form-label">Внутрішній номер</label>
                                <input type="text" name="InnerId" class="form-control" />
                                <button type="button" class="btn btn-outline-primary" onclick="submitSearchEmployeesAddToDocumentForm()">Шукати</button>
                                <button type="button" class="btn btn-outline-primary" onclick="getEmployeesAddToDocument()">Вибрати всіх</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            <ul class="list-group" id="chooseEmployeeUl">
                                @foreach (var item in Model)
                                {
                                    <li class="list-group-item" id="@getLiId(item.Id)">
                                        <h4>Номер: @item.InnerId</h4>
                                        <h5>ПІБ: @item.Name</h5>
                                        <form asp-action="AddEmployeeToDocument" asp-controller="Document" class="my-1" id="@item.Id">
                                            <input type="hidden" name="employeeId" value="@item.Id" />
                                            <button type="button" class="btn btn-primary my-3" onclick="addEmployeeToDocument('@item.Id','@getLiId(item.Id)', '@getPayoutInputId(item.Id)')">Додати</button>
                                        </form>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>
