@using Accounting.Domain.Models
@using Accounting.Domain.Models.Base
@using Accounting.ViewModels
@model AddedEmployeeViewModel
@{

    var trId = Model.Employee.Id + "tr" + Model.CountInSessionDocument;
    var formToDeleteEmployee = Model.Employee.Id + "formToDelete" + Model.CountInSessionDocument;
    var formPayout = Model.Employee.Id + "createPayout" + Model.CountInSessionDocument;
    var payoutDivId = Model.Employee.Id + "PayoutDiv" + Model.CountInSessionDocument;
    var payoutInput = Model.Employee.Id + "payoutinput" + Model.CountInSessionDocument;
    var payoutId = Model.Employee.Id + "payoutId" + Model.CountInSessionDocument;
}
<tr id="@trId">
    <td>@Model.Employee.InnerId</td>
    <td>@Model.Employee.Name</td>
    <td>
        <div id="@payoutDivId">
            <form id="@formPayout">
                <input type="hidden" name="EmployeeId" value="@Model.Employee.Id" />
                <input type="text" placeholder="Додати Суми" name="Ammount" onchange="sendForm('@formPayout', '/Payout/CreatePayout', '@trId')" id="@payoutInput" autofocus />
                <input type="checkbox" value="true" name="IsAdditional" />
            </form>
        </div>
    </td>
   
</tr>

<script type="text/javascript">
    setTimeout(function(){
        document.getElementById('@payoutInput').focus();
    }, 500);
</script>

