@using Accounting.Domain.Models
@using Accounting.Domain.Models.Base
@using Accounting.ViewModels
@model Employee
@{

    var trId = Model.Id + "tr";
    var formToDeleteEmployee = Model.Id + "formToDelete";
    var formPayout = Model.Id + "createPayout";
    var payoutDivId = Model.Id + "PayoutDiv";
    var payoutInput = Model.Id + "payoutinput";
    var payoutId = Model.Id + "payoutId";
}
<tr id="@trId">
    <td>@Model.InnerId</td>
    <td>@Model.Name</td>
    <td>
        <div id="@payoutDivId">
            <form id="@formPayout" onsubmit="return false;">
                <input type="hidden" name="EmployeeId" value="@Model.Id" />
                <input type="text" placeholder="Додати Суми" name="Ammount" onchange="sendForm('@formPayout', '/Payout/CreatePayout', '@trId')" id="@payoutInput" autofocus />
                <input type="checkbox" value="true" name="IsAdditional" />
            </form>
        </div>
    </td>
</tr>

<script type="text/javascript">
    setTimeout(function(){
        document.getElementById('@payoutInput').focus();
    }, 500);
</script>

