@using Accounting.Domain.ViewModels;
@model CreateAccrualViewModel
@{
    var formId = Model.EmployeeId + "form"; 
    string getdeleteAccrualFormId(Guid id) => id.ToString() + "deleteForm";
    string getAccrualLiID(Guid id) => id.ToString() + "litodelete";
    string getUpdateAccrualFromId(Guid id) => id.ToString() + "updateAccrualForm";
    string getAmmountInputId(Guid id) => id.ToString() + "ammountInputId";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group" id="accrualUl">
                    @foreach (var item in Model.Accruals)
                    {  
                        <li class="list-group-item" id="@getAccrualLiID(item.Id)">
                        <div class="d-flex justify-content-between">
                                <form id="@getUpdateAccrualFromId(item.Id)">
                                    <input type="hidden" name="AccrualId" value="@item.Id" /> 
                                    <input type="text" name="Ammount" value="@item.Ammount" onchange="onAmmountInputChanged('@getUpdateAccrualFromId(item.Id)')" class="form-control-sm" id="@getAmmountInputId(item.Id)"/>
                                </form>
                                
                                <form id="@getdeleteAccrualFormId(item.Id)">
                                    <input type="hidden" name="accrualId" value="@item.Id" />
                                <button class="btn btn-outline-danger" type="button" onclick="sendForm('@getdeleteAccrualFormId(item.Id)', '/Document/DeleteAccrual', '@getAccrualLiID(item.Id)')">Видалити</button>
                                </form>
                        </div>
                        </li>
                    }
            </ul>
        </div>
    </div>
    <div class="row">
       <div class="col-md-5 m-auto">
            <form id="@formId">
                <input asp-for="EmployeeId" type="hidden" value="@Model.EmployeeId" />
                <input name="Ammount" class="form-control" type="text" id="ammountInput" />
            </form>
            <button type="button" onclick="sendForm('@formId', '/Document/AddAccrualToEmployee', 'accrualUl' )" class="btn btn-primary">Начислити</button>
       </div>
    </div>
</div>
