@using Accounting.Domain.Models
@model NotBetEmployee
@{
    var liId = Model.Id + "li";
}
<li class="list-group-item" id="@liId">
    <h4>Номер: @Model.InnerId</h4>
    <h5>ПІБ: @Model.Name</h5>
    <form asp-action="AddEmployeeToDocument" asp-controller="Document" class="my-1" id="@Model.Id">
        <input type="hidden" name="employeeId" value="@Model.Id" />
        <button type="button" class="btn btn-primary my-3" onclick="sendForm('@Model.Id', '/Document/AddEmployeeToDocument', '@liId')">Додати</button>
    </form>
</li>